a {
    cursor: pointer;
    color: #003E7D;
    text-decoration: none;
}

a:hover {
    color: #88c2ff;
    transition: color .1s;
}


#experience {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

#experience:before {
    height: 50px;
    content: "";
    display: block;
}

#experience-tba {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

@media(max-width:500px) {
    #experience-tba {
        font-size: 14px;
    }
}

#experience-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.experience-grid-panel {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .1);
    padding: 10px;
    border-radius: 50px;
    color: #003E7D;
    font-weight: bold;
    font-size: 20px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    align-items: center;
}

.experience-right-panel {
    font-weight: 600;
    text-align: left;
    font-size: 18px;
}

@media(max-width:500px) {
    .experience-right-panel {
        font-size: 14px;
    }

    .experience_list {
        font-size:14px;
    }

    .experience-left-panel {
        font-size: 14px;
    }

    .experience_dates {
        font-size: 11px;
    }
}

.experience-left-panel {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    border-right: 2px solid #003E7D;
}

.experience-title {
    cursor: pointer;
}

.experience-title:hover {
    color: #88c2ff;
    transition: color .1s;
}

.experience-thumbnail {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}

.experience_company {
    color: #00284f
}

#icelordgames {
    margin-top: -22px;
}

#xrtaskforce {
    margin-top: -22px;
}

.experience_list {
    padding: 10px;
}

.experience_dates {
    font-size: 14px;
    color: #88c2ff;
}
