.header {
    display: flex;
    flex-direction: row;
    background-color: #003E7D;
    height: 60px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 420;
    position: sticky;
    font-weight: 600;
    font-size: 20px;
    border-bottom: #001c38 solid 5px;
}

.header-links {
    width: 100px;
    color: white;
    text-decoration: none;
    margin-bottom: 4px;
}

.header-links:hover {
    background-image: linear-gradient(to bottom, #3C9BFF 0%, #88c2ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-color .2s;
}

@media(max-width: 550px) {
    .header {
        font-size: 12px;
    }
}