a {
    cursor: pointer;
    color: #003E7D;
    text-decoration: none;
}

a:hover {
    color: #88c2ff;
    transition: color .1s;
}


#portfolios {
    padding-bottom:0px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

#portfolios:before {
    height: 50px;
    content: "";
    display: block;
}

#portfolio-tba {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

@media(max-width:500px) {
    #portfolio-tba {
        font-size: 16px;
    }
}


#portfolio-grid {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.portfolio-grid-panel {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .1);
    padding: 10px;
    border-radius: 50px;
    color: #003E7D;
    font-weight: bold;
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    align-items: center;
}

@media(max-width:500px) {
    .portfolo-panels{
        font-size:12px;
    }
}

.portfolio-panels {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .1);
    border-radius: 50px;
}

.portfolio-thumbnail {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}
