#welcome {
    width: 100%;
    min-height: 825px;
    background: linear-gradient(rgba(255, 255, 255, 0.4),
            rgba(0, 0, 0, 0.7)50%), url(ADMA.jpg);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    z-index: 2;
    position: relative;
}

@media(max-width:400px) {
    #welcome {
        background-size: auto;
    }
}

@keyframes nameAnimation {
    from {
        background-position: 0%;
    }

    to {
        background-position: 100%;
    }
}

@media(max-width: 550px) {
    #my-name {
        font-size: 50px;
    }
}

@media(max-width: 300px) {
    #my-name {
        font-size: 30px;
    }
}

#my-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 750;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #25507b 10%,
            #27619b 20%, #4991dd 30%, #448fda 40%, #67a7e7 50%,
            #448fda 60%, #4991dd 70%, #27619b 80%, #25507b 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: nameAnimation 5s infinite alternate-reverse;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
    font-family: Arial, sans-serif, !important;
    -webkit-text-stroke: 3px #001c38;
}
